/*
 * Copyright (c) 2024 Benjamin Cabé <benjamin@zephyrproject.org>
 * SPDX-License-Identifier: Apache-2.0
 */

&mikrobus_i2c {
	status = "okay";

	bmp180@77 {
		compatible = "bosch,bmp180";
		reg = <0x77>;
		osr-press = <1>;
		status = "okay";
	};
};
