# Copyright (c) 2024 Benjamin Cabé <benjamin@zephyrproject.org>
# SPDX-License-Identifier: Apache-2.0

config GPIO_SN74HC138
	bool "SN74HC138 3-to-8 decoder"
	default y
	depends on DT_HAS_TI_SN74HC138_ENABLED
	help
	  Use SN74HC138 3-to-8 decoder GPIO driver.

if GPIO_SN74HC138

config GPIO_SN74HC138_INIT_PRIORITY
	int "Init priority"
	default 71
	help
	  Device driver initialization priority.

endif
