/*
 * Copyright The Zephyr Project Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/gpio.h>

&i2c0 {
	bmi270: bmi270@68 {
		compatible = "bosch,bmi270";
		reg = <0x68>;
		irq-gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
	};
};
