# Copyright (c) 2021 Telink Semiconductor
# SPDX-License-Identifier: Apache-2.0

config ZEPHYR_HAL_TELINK_MODULE
	bool

config HAS_TELINK_DRIVERS
	bool "Telink Drivers"
	depends on ZEPHYR_HAL_TELINK_MODULE
	help
	  This option enables Telink Drivers APIs.
