# zephyr-xenlib configuration

# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

zephyr-module = XENLIB
zephyr-module-str = xenlib
source "modules/Kconfig.template.module"
