# Copyright (c) 2019 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

zephyr-module = XTENSA
zephyr-module-str = xtensa
source "modules/Kconfig.template.module"

config XTENSA_HAL
	bool
	select ZEPHYR_XTENSA_MODULE_ACTIVE
	help
	  Build the Xtensa HAL module during build process.
	  This is selected by the Xtensa ARCH kconfig automatically.
