# Copyright (c) 2024 Benjamin Cabé <benjamin@zephyrproject.org>
# SPDX-License-Identifier: Apache-2.0

if SHIELD_MIKROE_PRESSURE_3_CLICK

config DPS310
	default y

endif # SHIELD_MIKROE_PRESSURE_3_CLICK
