# Copyright (c) 2024 Benjamin Cabé <benjamin@zephyrproject.org>
# SPDX-License-Identifier: Apache-2.0

if SHIELD_MIKROE_LIGHTRANGER_2_CLICK

config VL53L0X
	default y

endif # SHIELD_MIKROE_LIGHTRANGER_2_CLICK
