/*
 * Copyright (c) 2024 Benjamin Cabé <benjamin@zephyrproject.org>
 * SPDX-License-Identifier: Apache-2.0
 */

&mikrobus_i2c {
	status = "okay";

	ads1115@48 {
		compatible = "ti,ads1115";
		reg = <0x48>;
		alert-rdy-gpios = <&mikrobus_header 7 GPIO_ACTIVE_LOW>;
		#io-channel-cells = <1>;
	};
};
