/*
 * Copyright (c) 2024 Benjamin Cabé <benjamin@zephyrproject.org>
 * SPDX-License-Identifier: Apache-2.0
 */

&mikrobus_i2c {
	status = "okay";

	ccs811@5a {
		compatible = "ams,ccs811";
		reg = <0x5a>;
		reset-gpios = <&mikrobus_header 1 GPIO_ACTIVE_LOW>;
		wake-gpios = <&mikrobus_header 2 GPIO_ACTIVE_LOW>;
		irq-gpios = <&mikrobus_header 7 GPIO_ACTIVE_LOW>;
	};
};
