# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

if BOARD_RETERMINAL_E1002_ESP32S3_PROCPU

if LVGL

config LV_Z_BITS_PER_PIXEL
	default 24

config LV_Z_FULL_REFRESH
	default y

config LV_Z_VDB_CUSTOM_SECTION
	default y

endif # LVGL

choice SPIRAM_MODE
	default SPIRAM_MODE_OCT
endchoice

endif # BOARD_RETERMINAL_E1002_ESP32S3_PROCPU
