/*
 * SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <bflb/bl706.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include "pinecil_v2-pinctrl.dtsi"

/ {
	model = "Pine64 Pinecil V2";
	compatible = "pine64,pinecil-v2";

	chosen {
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,itcm = &itcm;
		zephyr,dtcm = &dtcm;
		zephyr,sram = &sram0_bt;
		zephyr,entropy = &sec_eng_trng;
		zephyr,bt-hci = &bt_hci_bflb;
		zephyr,display = &oled;
	};

	aliases {
		sw0 = &button_plus;
		sw1 = &button_minus;
		watchdog0 = &wdt0;
	};

	buttons {
		compatible = "gpio-keys";

		button_plus: button_plus {
			gpios = <&gpio0 25 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
			label = "Button +";
			zephyr,code = <INPUT_KEY_UP>;
		};

		button_minus: button_minus {
			gpios = <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
			label = "Button -";
			zephyr,code = <INPUT_KEY_DOWN>;
		};
	};
};

&cpu0 {
	clock-frequency = <DT_FREQ_M(144)>;
};

&flashctrl {
	flash0: flash@23000000 {
		compatible = "soc-nv-flash";
		reg = <0x23000000 DT_SIZE_M(4)>;
		write-block-size = <256>;
		erase-block-size = <DT_SIZE_K(4)>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			slot0_partition: partition@0 {
				label = "image-0";
				reg = <0x00000000 DT_SIZE_K(4064)>;
				read-only;
			};

			storage_partition: partition@3f8000 {
				label = "storage";
				reg = <0x003f8000 DT_SIZE_K(32)>;
			};
		};
	};
};

&gpio0 {
	status = "okay";
};

&sec_eng_trng {
	status = "okay";
};

&bt_hci_bflb {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	oled: ssd1306@3c {
		compatible = "solomon,ssd1306";
		reg = <0x3c>;
		width = <96>;
		height = <16>;
		segment-offset = <32>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <15>;
		com-invdir;
		prechargep = <0x22>;
		reset-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
	};
};
