# Copyright (c) 2025 Benjamin Cabé <benjamin@zephyrproject.org>
# SPDX-License-Identifier: Apache-2.0

if BOARD_ADAFRUIT_MACROPAD_RP2040

if I2C_DW

config I2C_DW_CLOCK_SPEED
	default 125

endif # I2C_DW

config USB_SELF_POWERED
	default n

if LVGL

config LV_Z_VDB_SIZE
	default 64

config LV_DPI_DEF
	default 116

config LV_Z_BITS_PER_PIXEL
	default 1

choice LV_COLOR_DEPTH
	default LV_COLOR_DEPTH_1
endchoice

config LV_USE_THEME_DEFAULT
	default y

endif # LVGL

endif # BOARD_ADAFRUIT_MACROPAD_RP2040
