/*
 * Copyright The Zephyr Project Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/gpio.h>

&i2c0 {
	bma4xx: bma4xx@18 {
		compatible = "bosch,bma4xx";
		reg = <0x18>;
		int1-gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
	};
};
