/*
 * SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		ai10 = &ai10;
	};
};

&uart1 {
	status = "okay";
	current-speed = <115200>;

	ai10: ai10 {
		compatible = "dfrobot,ai10";
		status = "okay";
	};
};
