# Copyright (c) 2024 Benjamin Cabé <benjamin@zephyrproject.org>
# SPDX-License-Identifier: Apache-2.0

if SHIELD_MIKROE_AMBIENT_2_CLICK

config OPT3001
	default y

endif # SHIELD_MIKROE_AMBIENT_2_CLICK
