# Copyright (c) 2025 Linumiz GmbH
# SPDX-License-Identifier: Apache-2.0

menuconfig OCPP_SHELL
	bool "OCPP shell commands"
	depends on OCPP
	depends on SHELL
	help
	  Enable shell commands for OCPP (Open Charge Point Protocol).

if OCPP_SHELL

endif # OCPP_SHELL
