# Copyright (c) 2025 Zephyr Project
# SPDX-License-Identifier: Apache-2.0

config ESCP_PRINTER
	bool "Epson ESC/P printer driver"
	default y
	depends on DT_HAS_EPSON_ESCP_ENABLED
	depends on SERIAL
	help
	  Enable driver support for Epson ESC/P printers connected via UART.

if ESCP_PRINTER

module = ESCP_PRINTER
module-str = escp_printer
source "subsys/logging/Kconfig.template.log_config"

endif # ESCP_PRINTER
