# M5Stack PaperColor board configuration
# Copyright (c) 2026 Benjamin Cabé <benjamin@zephyrproject.org>
# SPDX-License-Identifier: Apache-2.0

config BOARD_M5STACK_PAPERCOLOR
	select SOC_ESP32S3
	select SOC_ESP32S3_PROCPU if BOARD_M5STACK_PAPERCOLOR_ESP32S3_PROCPU
	select SOC_ESP32S3_APPCPU if BOARD_M5STACK_PAPERCOLOR_ESP32S3_APPCPU
