/*
 * Copyright (c) 2026 Benjamin Cabé <benjamin@zephyrproject.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/dts-v1/;

#include <espressif/esp32s3/esp32s3_wroom_n16r8.dtsi>
#include "m5stack_papercolor-pinctrl.dtsi"
#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/led/worldsemi_ws2812c.h>
#include <espressif/partitions_0x0_amp.dtsi>

/ {
	model = "M5Stack PaperColor PROCPU";
	compatible = "m5stack,papercolor";

	chosen {
		zephyr,sram = &sram1;
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,rtc = &rx8130_rtc;
		zephyr,bt-hci = &esp32_bt_hci;
	};

	aliases {
		sw0 = &user_button_0;
		sw1 = &user_button_1;
		sw2 = &user_button_2;
		watchdog0 = &wdt0;
		i2c-0 = &i2c0;
		rtc = &rx8130_rtc;
		sdhc0 = &sd0;
		led-strip = &status_rgb_led;
	};

	buttons {
		compatible = "gpio-keys";
		debounce-interval-ms = <30>;

		user_button_0: button_0 {
			label = "USER_KEY1";
			gpios = <&gpio0 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};

		user_button_1: button_1 {
			label = "USER_KEY2";
			gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_1>;
		};

		user_button_2: button_2 {
			label = "USER_KEY3";
			gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_2>;
		};
	};
};

&usb_serial {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	/* M5PM1 PMIC: gates EINK / SD / RGB / IR rails (LDO 3V3) and
	 * the Grove 5 V boost. The DCDC and BOOST rails are off by default;
	 * LDO is brought up at boot so consumers downstream are usable.
	 */
	m5pm1: m5pm1@6e {
		compatible = "m5stack,m5pm1";
		reg = <0x6e>;
		status = "okay";

		regulators {
			compatible = "m5stack,m5pm1-regulator";

			dcdc_5v: DCDC {
				regulator-name = "dcdc_5v";
			};

			ldo_3v3: LDO {
				regulator-name = "ldo_3v3";
				regulator-boot-on;
			};

			boost_5v: BOOST {
				regulator-name = "boost_5v";
			};
		};
	};

	rx8130_rtc: rx8130@32 {
		compatible = "epson,rx8130ce-rtc";
		reg = <0x32>;
		irq-gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
	};

	sht40: sht4x@44 {
		compatible = "sensirion,sht4x";
		reg = <0x44>;
		repeatability = <2>;
	};
};

&spi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
	clock-frequency = <20000000>;
	cs-gpios = <&gpio1 15 GPIO_ACTIVE_LOW>; /* GPIO47 -> Card_CS */

	sd0: sd@0 {
		compatible = "zephyr,sdhc-spi-slot";
		reg = <0>;
		status = "okay";
		spi-max-frequency = <20000000>;

		mmc {
			compatible = "zephyr,sdmmc-disk";
			disk-name = "SD";
			status = "okay";
		};
	};
};

&spi3 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	line-idle-low;
	pinctrl-0 = <&spim3_ws2812_led>;
	pinctrl-names = "default";

	status_rgb_led: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		reg = <0>;
		spi-max-frequency = <WS2812C_SPI_FREQ>;

		chain-length = <2>;
		color-mapping = <LED_COLOR_ID_GREEN>,
				<LED_COLOR_ID_RED>,
				<LED_COLOR_ID_BLUE>;
		spi-one-frame = <WS2812C_ONE_FRAME>;
		spi-zero-frame = <WS2812C_ZERO_FRAME>;
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&timer0 {
	status = "okay";
};

&timer1 {
	status = "okay";
};

&trng0 {
	status = "okay";
};

&esp32_bt_hci {
	status = "okay";
};

&wifi {
	status = "okay";
};
