/*
 * Copyright The Zephyr Project Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c0 {
	mmc56x3: mmc56x3@30 {
		compatible = "memsic,mmc56x3";
		reg = <0x30>;
		magn-odr = <0>;
	};
};
