# Copyright (c) 2026 Benjamin Cabé <benjamin@zephyrproject.org>
# SPDX-License-Identifier: Apache-2.0

config SPI_VIRTIO
	bool "VIRTIO SPI controller driver"
	default y
	depends on DT_HAS_VIRTIO_SPI_ENABLED
	select VIRTIO
	help
	  Enable driver for the VIRTIO SPI controller device, giving access to
	  a SPI controller exposed by the host.
