/*
 * Copyright (c) 2024 Benjamin Cabé <benjamin@zephyrproject.org>
 * SPDX-License-Identifier: Apache-2.0
 */

&mikrobus_i2c {
	status = "okay";

	pca9685@40 {
		compatible = "nxp,pca9685";
		reg = <0x40>;
		status = "okay";
	};
};
