.. zephyr:subsys:: subsystem_id
   :name: Subsystem Name
   :kconfig: CONFIG_FOO CONFIG_BAR
   :api: group_foo group_bar

Overview
********
[Short description about the subsystem and its purpose]

Configuration Options
*********************
[List of key :kconfig:option:`CONFIG_*` options]

API Reference
*************
[References to API groups]

Usage
*****
[Basic usage information, configuration options, or examples]

References
**********
[Links to external references or additional documentation]
