# Copyright (c) 2024 NXP
# SPDX-License-Identifier: Apache-2.0

zephyr-module = LIBSBC
zephyr-module-str = libsbc
source "modules/Kconfig.template.module"

config LIBSBC
	bool "libsbc Support"
	select ZEPHYR_LIBSBC_MODULE_ACTIVE
	help
	  This option enables Low Complexity Subband Codec (SBC)
