/*
 * Copyright The Zephyr Project Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/sensor/rm3100.h>

&i2c0 {
	rm3100: rm3100@20 {
		compatible = "pni,rm3100";
		reg = <0x20>;
		int-gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
	};

	rm3100_600hz: rm3100@21 {
		compatible = "pni,rm3100";
		reg = <0x21>;
		int-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		odr = <RM3100_DT_ODR_600>;
	};
};
