/*
 * Copyright (c) 2024 Benjamin Cabé <benjamin@zephyrproject.org>
 * SPDX-License-Identifier: Apache-2.0
 */

&mikrobus_i2c {
	status = "okay";

	tmp007@40 {
		compatible = "ti,tmp007";
		reg = <0x40>;
		int-gpios = <&mikrobus_header 7 GPIO_ACTIVE_LOW>;
		status = "okay";
	};
};
